/************** 
Helper Variables
***************/

@media screen and (min-width: 960px) {
  .container.is-smaller {
    max-width: 896px;
  }
}

.always-text-white {
  color: white !important;
}

.is-borderless {
  border: none !important;
}

.has-border-left {
  border-left: solid 4px;
}

.button.has-background-primary-light{
  transition: 0.3s;
}

.button.has-background-primary-light:hover {
  background-color: var(--primary-light-select) !important;
  color: var(--primary) !important;
}

/************** 
Page Elements
***************/

a {
  transition: 0.3s;
}

html {
  background-color: var(--body-color);
}


.break {
  border-bottom: 2px solid #eee;
  height: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  
}

/************** 
Dark Mode Button
***************/

.darkmode input[type=checkbox] { 
  display: none;
}

.darkmode input[type=checkbox] + label { 
  transition: 0.3s;
  display: inline-block;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-size: contain;
  opacity: 50%;
}
.darkmode input[type=checkbox] + label:hover { 
  opacity: 100%;
}

.darkmode input[type=checkbox] + label { 
  background-image: url(/assets/images/sun.svg);
}

.darkmode input[type=checkbox]:checked + label { 
  background-image: url(/assets/images/moon.svg);
}

/************** 
Navbar New
***************/

nav.nb {
  min-height: 3.25rem;
  z-index: 30;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  position: relative;
}

nav.nb.has-background-primary a {
  transition: 0.25s;
  color: white !important;
}

nav.nb.has-background-primary a:hover {
  color: var(--grey-light) !important;
}

.nb-content {
  height: auto;
  min-height: 3.25rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}

.nb-breadcrumbs ul {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
}

.nb-breadcrumbs li {
  padding: 0.1rem 0.50rem 0 0;
}

.nb-breadcrumbs li:last-of-type {
  padding-right: 0;
}

.nb-breadcrumbs li:not(:last-of-type)::after {
  color: var(--grey-light);
  content: "\02022";
  font-size: 1.25rem;
  padding-left: 0.50rem;
}

/*
.nb-breadcrumbs li:nth-child(1)::after {
  content: "\0002f";
}
*/

.nb-breadcrumbs li.is-active a {
  cursor: default;
  pointer-events: none;
}

.nb-item {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.3rem 0;
}

.nb-item.darkmode {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}


/************** 
Messenger
***************/

.userName {
  font-weight: 600;
}

.cont-top {
  align-items: stretch;
  display: flex;
  padding: 0.5rem;
  background-color: var(--primary);
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#messageContainer p {
  padding-top: 0.25rem;
}

#msgContCont {
  overflow: auto;
  height: 63vh;
  display: flex;
  flex-direction: column-reverse;
}

#messageContainer {
  
}

